<div class="contact-container">
  <h1>Contact Us</h1>
  <div class="contact-card">
    <div>
      <h1>Need to Reach Us?</h1>
      <p>Our mailing address is:</p>
      <p>150A Charlotte Street</p>
      <p>Peterborough ON</p>
      <p>Phone: 705-742-3221</p>
      <div>
        <fa-icon [icon]="faFacebookF"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
      </div>
    </div>
    <div>
      <p>Great vision without great people is irrelevant</p>
      <p>Let's work together</p>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="first-name">First Name:</label>
        <input id="first-name" type="text" formControlName="firstName">
        <label for="last-name">Last Name:</label>
        <input id="last-name" type="text" formControlName="lastName">
        <label for="email" type="text">Email</label>
        <input id="email" type="email" formControlName="email">
        <p>Input - Enter your message</p>
        <p>Complete the form to enable button.</p>
        <!-- <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
