.contact-container {
  background-color: #2c2e31;
  padding-bottom: 30px;
  padding-top: 30px;
}
.contact-wrapper {
  margin-top: 50px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-title {
  color: white;
}
.contact-card {
  background-color: #ffffff;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info h1 {
  text-align: center;
}
.contact-social-wrapper {
  padding: 5px;
}
.contact-social-icon {
  font-size: 20px;
  margin: 0 10px;
}
.contact-form-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 5px;
}
.contact-form-container {
  padding: 10px;
}
/* For the reactive form, will apply effect on if the input was touched or
the inputted values are invalid based on the validators */
input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.submit-btn-wrapper {
  width: 100%;
  margin-top: 10px;
}
.submit-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(236 190 35);
  border: rgb(236 190 35);
  font-weight: bold;
  letter-spacing: 2px;
}
/* :enabled applies on the button only when it is enabled, thus won't see this
applied when button is disabled */
.submit-btn:hover:enabled {
  cursor: pointer;
  background-color: rgb(128 106 0);
  color: white;
}

.input-captions {
  color: red;
  margin-top: 0;
}

@media only screen and (max-width: 700px) {
  .contact-wrapper {
    padding: 0;
  }
  .contact-card {
    grid-template-columns: 1fr;
    width: 85%;
  }
  .contact-info {
    margin-bottom: 20px;
  }
}

