<div class="contact-container">
  <div class="contact-wrapper">
    <h1 class="contact-title">Contact Us</h1>
    <div class="contact-card">
      <div class="contact-info">
        <h1>Need to Reach Us?</h1>
        <p>Our mailing address is:</p>
        <p>150A Charlotte Street</p>
        <p>Peterborough ON</p>
        <p>Phone: 705-742-3221</p>
        <div class="contact-social-wrapper">
          <fa-icon [icon]="faFacebookF" class="contact-social-icon"></fa-icon>
          <fa-icon [icon]="faTwitter" class="contact-social-icon"></fa-icon>
          <fa-icon [icon]="faInstagram" class="contact-social-icon"></fa-icon>
        </div>
      </div>
      <div class="contact-input">
        <form
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit()"
          class="contact-form-container"
        >
          <label for="first-name">First Name:</label>
          <div>
            <input
              id="first-name"
              type="text"
              formControlName="firstName"
              class="contact-form-input"
            />
          </div>
          <p
            class="input-captions"
            *ngIf="
              !profileForm.get('firstName')?.valid &&
              profileForm.get('firstName')?.touched &&
              profileForm.get('firstName')?.value === ''
            "
          >
            Please enter a first name
          </p>
          <!-- @TODO: See if you can add some validation for invalid names -->
          <p
            class="input-captions"
            *ngIf="
              !profileForm.get('firstName')?.valid &&
              profileForm.get('firstName')?.touched &&
              profileForm.get('firstName')?.value !== ''
            "
          >
            Please enter valid first name.
          </p>
          <label for="last-name">Last Name:</label>
          <div>
            <input
              id="last-name"
              type="text"
              formControlName="lastName"
              class="contact-form-input"
            />
          </div>
          <p
            class="input-captions"
            *ngIf="
              !profileForm.get('lastName')?.valid &&
              profileForm.get('lastName')?.touched &&
              profileForm.get('lastName')?.value === ''
            "
          >
            Please enter a lastname
          </p>
          <p
            class="input-captions"
            *ngIf="
              !profileForm.get('lastName')?.valid &&
              profileForm.get('lastName')?.touched &&
              profileForm.get('lastName')?.value !== ''
            "
          >
            Please enter valid lastname
          </p>
          <label for="email" type="text">Email</label>
          <div>
            <input
              id="email"
              type="email"
              formControlName="email"
              class="contact-form-input"
            />
          </div>
          <p
            class="input-captions"
            *ngIf="
              !profileForm.get('email')?.valid &&
              profileForm.get('email')?.touched &&
              profileForm.get('email')?.value === ''
            "
          >
            Please enter an email
          </p>
          <p
            class="input-captions"
            *ngIf="
              !profileForm.get('email')?.valid &&
              profileForm.get('email')?.touched &&
              profileForm.get('email')?.value !== ''
            "
          >
            The email you entered is not a valid email.
          </p>

          <div class="submit-btn-wrapper">
            <!-- <button
              class="submit-btn"
              type="submit"
              [disabled]="!profileForm.valid"
            >
              Submit
            </button> -->
            <button type="submit" class="submit-btn">Submit</button>
          </div>
        </form>
        <app-snackbar></app-snackbar>
      </div>
    </div>
  </div>
</div>
