<div class="contact-container">
    <div class="contact-card">
        <h1>Contact Us</h1>
        <p>Our mailing address is:</p>
        <p>150A Charlotte Street</p>
        <p>Peterborough ON</p>
        <p>Phone: 705-742-3221</p>
        <p>INSERT ICONS HERE</p>

        <p>------------Other side of Card-----------</p>

        <p>Great vision without great people is irrelevant</p>
        <p>Let's work together</p>

        <p>Input - Enter your Name</p>
        <p>Input - Enter a valid email address</p>
        <p>Input - Enter your message</p>
        <p>Submit button</p>

    </div>
</div>
