<div class="link-two-user-container">
  <!-- Loading -->
  <div class="link-two-user-card-wrapper" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <!-- Error banner - API is unsuccessful -->
  <div class="link-two-user-card-wrapper" *ngIf="error">
    <fa-icon
      [icon]="faTriangleExclamation"
      class="icon"
    ></fa-icon>
    <div class="error-message">
      Oops, something went wrong. Please try again later
    </div>
  </div>
  <div class="link-two-user-card-wrapper" *ngIf="!error">
    <img src="{{ user?.avatar }}" />
    <p class="introText">{{ introText }}</p>
    <p class="infoText">{{ infoText }}</p>
    <div>
      <ul>
        <li
          #name
          (mouseover)="onMouseOver(name)"
          [attr.data-title]="'Hello, my name is'"
          [attr.data-value]="user?.first_name + ' ' + user?.last_name"
          class="active"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </li>
        <li
          #email
          (mouseover)="onMouseOver(email)"
          [attr.data-title]="'My email address is'"
          [attr.data-value]="user?.email"
        >
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </li>
        <li
          #dob
          (mouseover)="onMouseOver(dob)"
          [attr.data-title]="'My birthday is'"
          [attr.data-value]="user?.date_of_birth | date: 'longDate'"
        >
          <fa-icon [icon]="faCakeCandles"></fa-icon>
        </li>
        <li
          #address
          (mouseover)="onMouseOver(address)"
          [attr.data-title]="'My address is'"
          [attr.data-value]="user?.address.street_address"
        >
          <fa-icon [icon]="faHome"></fa-icon>
        </li>
        <li
          #phone
          (mouseover)="onMouseOver(phone)"
          [attr.data-title]="'My phone number is'"
          [attr.data-value]="user?.phone_number"
        >
          <fa-icon [icon]="faPhone"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
