<div class="footer-container">
  <div class="footer-wrapper">
    <div class="footer-icon-wrapper">
      <div class="icon-border">
        <fa-icon [icon]="faFacebookF" class="icon"></fa-icon>
      </div>
      <div class="icon-border">
        <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
      </div>
      <div class="icon-border">
        <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
      </div>
    </div>
    <!-- &#183; is a dot which is center aligned vertically and horizontally. -->
    <div>
      <p>Info &#183; Support &#183; Marketing</p>
    </div>
    <div>
      <p>Terms of use &#183; Privacy Policy</p>
    </div>
    <div>
      <!-- &#169; is the copyright icon; c with the circle border. -->
      <p>
        &#169; {{ year }}
        <span class="personal-link" (click)="openPersonalWebsite()"
          >Eugene Han</span
        >
      </p>
    </div>
  </div>
</div>
