<nav>
  <ul>
    <li class="desktop">
      <!-- routerLinkActive activates the class "active" when the applicable link is selected -->
      <a routerLink="/home" routerLinkActive="active">Link One</a>
    </li>
    <li class="desktop">
      <a routerLink="/link-two" routerLinkActive="active">Link Two</a>
    </li>
    <li class="desktop">
      <a routerLink="/link-three" routerLinkActive="active">Link Three </a>
    </li>
    <li class="desktop">
      <a routerLink="/link-four" routerLinkActive="active">Link Four</a>
    </li>
    <li class="desktop">
      <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </li>
    <li class="mobile">
      <fa-icon
        [icon]="faBars"
        class="mobile-open-icon"
        (click)="toggleMobileMenu()"
      ></fa-icon>
    </li>
  </ul>
</nav>

<!-- Mobile Menu -->
<!-- the ngClass will attach the applicable class as per condition -->
<div
  class="mobile-menu-container"
  [ngClass]="
    showMobileMenu && screenWidth < 600 ? 'show-mobile-menu' : 'mobile-menu'
  "
>
  <div class="mobile-menu-close-btn">
    <fa-icon
      [icon]="faXmark"
      (click)="toggleMobileMenu()"
      class="mobile-close-icon"
    ></fa-icon>
  </div>
  <ul class="mobile-menu-ul">
    <li>
      <a
        routerLink="/home"
        (click)="toggleMobileMenu()"
        routerLinkActive="active"
        >Link One</a
      >
    </li>
    <li>
      <a
        routerLink="/link-two"
        (click)="toggleMobileMenu()"
        routerLinkActive="active"
        >Link Two</a
      >
    </li>
    <li>
      <a
        routerLink="/link-three"
        (click)="toggleMobileMenu()"
        routerLinkActive="active"
        >Link Three
      </a>
    </li>
    <li>
      <a
        routerLink="/link-four"
        (click)="toggleMobileMenu()"
        routerLinkActive="active"
        >Link Four</a
      >
    </li>
    <li>
      <a
        routerLink="/contact-us"
        (click)="toggleMobileMenu()"
        routerLinkActive="active"
        >Contact Us</a
      >
    </li>
  </ul>
  <div class="mobile-menu-footer">
    <div>
      <p style="color: white; text-align: center;">
        &#169; {{ year }} by
        <span class="personal-link" (click)="openPersonalWebsite()"
          >Eugene Han</span
        >. All rights reserved.
      </p>
    </div>
  </div>
</div>

<!-- https://stackoverflow.com/questions/59200492/how-to-pass-variable-to-css-in-angular -->
