.link-four-user-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 350px; */

}
.link-four-user-card-wrapper {
  margin-top: -200px;
  margin-bottom: 10px;
  background-image: url("../../../assets/sand.jpg");
  /* background-color: #ffffff; */
  padding: 20px;
  width: 80%;
  /* border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.link-four-user-card-wrapper::after {
  background-image: url("../../../assets/waterWaves.jpg");
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 190px;
  top: 0;
  z-index: 1;
}

.error-message {
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 1rem 0;
}
.icon {
  color: red;
  font-size: 30px;
}

/* Make sure the image sits above the design: z-index */
.link-four-user-card-wrapper img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  z-index: 10;
}

.introText {
  color: rgb(26, 24, 24);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.infoText {
  color: #2c2e31;
  font-size: 38px;
  margin: 5px;
}

.link-four-user-card-wrapper ul {
  list-style-type: none;
  padding: 0;
}
.link-four-user-card-wrapper ul > li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .link-four-user-card-wrapper {
    margin-top: -120px;
    width: 80%;
    border-radius: 0;
    padding: 30px;
  }

  .infoText {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
