.link-four-user-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 350px; */
  }
  .link-four-user-card-wrapper {
    margin-top: -200px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-message {
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 1rem 0;
  }
  .icon {
    color: red; 
    font-size: 30px
  }
  .link-four-user-card-wrapper img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .introText {
      color: rgb(133, 129, 129);
      font-size: 18px;
      margin: 0;
  }
  .infoText{
      color: #2c2e31;
      font-size: 38px;
      margin: 5px;
  }
  
  .link-four-user-card-wrapper ul {
      list-style-type: none;
      padding: 0;
  }
  .link-four-user-card-wrapper ul > li {
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .link-four-user-card-wrapper {
    margin-top: -100px;
    width: 200px;
    border-radius: 0;
    padding: 30px;
  }

  .infoText {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    overflow-wrap: break-word;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
