<div class="random-user-container">
  <!-- Loading -->
  <div class="random-user-card-wrapper" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <!-- Error banner - API is unsuccessful -->
  <div class="random-user-card-wrapper" *ngIf="error">
    <app-error-card></app-error-card>
  </div>
  <div class="random-user-card-wrapper-success" *ngFor="let person of user">
    <div class="img-border">
      <img src="{{ person.picture.large }}" />
    </div>
    <p class="introText">{{ introText }}</p>
    <p class="infoText">{{ infoText }}</p>
    <div>
      <ul>
        <li
          #name
          (mouseover)="onMouseOver(name)"
          [attr.data-title]="'Hi, My name is'"
          [attr.data-value]="person.name.first + ' ' + person.name.last"
          class="active"
        >
          <fa-icon [icon]="faUser"></fa-icon>
        </li>
        <li
          #email
          (mouseover)="onMouseOver(email)"
          [attr.data-title]="'My email address is'"
          [attr.data-value]="person.email"
        >
          <fa-icon [icon]="faEnvelope"></fa-icon>
        </li>
        <li
          #dob
          (mouseover)="onMouseOver(dob)"
          [attr.data-title]="'My birthday is'"
          [attr.data-value]="person.dob.date | date: 'longDate'"
        >
          <fa-icon [icon]="faCakeCandles"></fa-icon>
        </li>
        <li
          #location
          (mouseover)="onMouseOver(location)"
          [attr.data-title]="'My address is'"
          [attr.data-value]="
            person.location.street.number + ' ' + person.location.street.name
          "
        >
          <fa-icon [icon]="faHome"></fa-icon>
        </li>
        <li
          #phone
          (mouseover)="onMouseOver(phone)"
          [attr.data-title]="'My phone number is'"
          [attr.data-value]="person.phone"
        >
          <fa-icon [icon]="faPhone"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
